<div class="tab-pane fade" id="list-educacion" role="tabpanel" aria-labelledby="list-educacion-list">
    <div class="container px-5">
      <form>
        <div class="my-3">
          <label for="educacion" class="form-label">educacion</label>
          <textarea class="form-control" id="info" style="height: 100px"></textarea>
        </div>
         <button type="button" class="btn btn-success">Guardar</button>
         <button type="button" class="btn btn-danger">Eliminar</button>
         <button type="button" class="btn btn-warning">Actualizar</button>
       </form> 
    </div>   
    </div>  
