<section class="Educacion text-white mt-5">
    <h2 class="text-center"><span>Educación</span></h2>
    <div class="container">
      <div class="row">
        <div class="col-2 mt-5">
         <img src="assets/Logo_de_la_Escuela_de_Comercio_Dr._Antonio_Bermejo.jpg" alt="Logo de la Escuela" class="rounded-circle w-100">
        </div>
        <div class="col-10 mt-5"> <h4>ESCUELA DE COMERCIO Nro 2 DE 1 "Dr. Antonio Bermejo <br> Perito mercantil con especialización impositiva.<br>1988 - 1996</h4>
        </div>
        
        </div>
    </div>
  </section>