<section class="container-fluid text-white mt-5">
    <h2 class="text-center"><span>Proyectos</span></h2>  
    <div class="container text-center" ></div>
    <div class="row">
       <div class="col">
         <div class="card-group">
           <div class="card">
             <img src="assets/cuatro_temporadas-1280x800.jpg" class="card-img-top" alt="cuatro temporadas">
             <div class="card-body bg-info">
               <h5 class="card-title">Proyecto 1</h5>
               <p class="card-text">Aca desarrolo un proyecto</p>
             </div>
             <a href="index.html" target="_blank" class="btn btn-primary">Ir a</a>
             <div class="card-footer bg-info"></div>
           </div>
           <div class="card">
             <img src="assets/cuatro_temporadas-1280x800.jpg" class="card-img-top" alt="cuatro temporadas">
             <div class="card-body bg-info">
               <h5 class="card-title">Proyecto 1</h5>
               <p class="card-text">Aca desarrolo un proyecto</p>
             </div>
             <a href="index.html" target="_blank" class="btn btn-primary">Ir a</a>
             <div class="card-footer bg-info"></div>
           </div>
           <div class="card">
             <img src="assets/cuatro_temporadas-1280x800.jpg" class="card-img-top" alt="cuatro temporadas">
             <div class="card-body bg-info">
               <h5 class="card-title ">Proyecto 1</h5>
               <p class="card-text">Aca desarrolo un proyecto</p>
             </div>
             <a href="index.html" target="_blank" class="btn btn-primary">Ir a</a>
             <div class="card-footer bg-info"></div>
           </div>
         </div>
       </div>
     </div>
     
   
   </section>