<body>
<main class="colorceleste">
<section class="presentacion text-white mt-5">
    <h2 class="text-center"><span>Acerca de mí</span></h2>
    <div class="container ">
      <div class="row">
        <div class="col-2">
          <img src="assets/DSCN3146_LI.jpg" alt="foto perfil" class="rounded-circle img-fluid w-100"> 
        </div>
        <div class="col-10 mt-5 ">
          <h4 class="text-center"  >Me dedico a la reparación y mantenimiento de equipos informaticos, principalmente notebooks.<br>Mi oficio lo ejerzo de manera particular y con una cartera de clientes, que consigo por recomendación de los mismos. <br>Soy una persona proactiva, responsable y con capacidad de trabajar en grupo.</h4>
        </div>
        </div>
    </div>
     </section>
    </main>
</body>