
<div class="tab-pane fade" id="list-habilidades" role="tabpanel" aria-labelledby="list-habilidades-list">
    <div class="container px-5">
      <form>
        <div class="row">
        <div class="col-6 my-3">
          <label for="habilidadesuno" class="form-label">habilidades</label>
         <input type="text" class="form-control" id="habilidadesuno">
         </div>
         <div class="col-6 my-3">
          <label for="porcentajeuno" class="form-label">porcentaje</label>
         <input type="text" class="form-control" id="porcentajeuno">
         </div>
        </div>
         <button type="button" class="btn btn-success">Guardar</button>
         <button type="button" class="btn btn-danger">Eliminar</button>
         <button type="button" class="btn btn-warning">Actualizar</button> 
           <!--habilidades2-->
         <div class="row">
          <div class="col-6 my-3">
            <label for="habilidadesdos" class="form-label">habilidades</label>
           <input type="text" class="form-control" id="habilidadesdos">
           </div>
           <div class="col-6 my-3">
            <label for="porcentajedos" class="form-label">porcentaje</label>
           <input type="text" class="form-control" id="porcentajedos">
           </div>
          </div>
           <button type="button" class="btn btn-success">Guardar</button>
           <button type="button" class="btn btn-danger">Eliminar</button>
           <button type="button" class="btn btn-warning">Actualizar</button>
           <!--habilidades3 cambiar form id en todos--> 
           <div class="row">
            <div class="col-6 my-3">
              <label for="habilidadestres" class="form-label">habilidades</label>
             <input type="text" class="form-control" id="habilidadestres">
             </div>
             <div class="col-6 my-3">
              <label for="porcentajetres" class="form-label">porcentaje</label>
             <input type="text" class="form-control" id="porcentajetres">
             </div>
            </div>
             <button type="button" class="btn btn-success">Guardar</button>
             <button type="button" class="btn btn-danger">Eliminar</button>
             <button type="button" class="btn btn-warning">Actualizar</button>   
      </form>
  </div>
  </div>
