<div class="tab-pane fade " id="list-info" role="tabpanel" aria-labelledby="list-info-list">
    <div class="container px-5">
      <form>
        <div class="my-3">
          <label for="info" class="form-label">info</label>
          <textarea class="form-control" id="info" style="height: 100px"></textarea>
        </div>
         <button type="button" class="btn btn-success">Guardar</button>
         <button type="button" class="btn btn-danger">Eliminar</button>
         <button type="button" class="btn btn-warning">Actualizar</button>
       </form> 
       </div>
  </div>