
<section class="Experiencia text-white mt-5">
    <h2 class="text-center"><span>Experiencia</span></h2>
    <div class="container">
      <div class="row">
        <div class="col mt-5">
        <h4 class="text-center">Posición Laboral Actual<br>
          • Armador/a de computadoras 2013 - PRESENTE <br>
          Nombre de la empresa/Organismo/Institución: Monotributista<br>
          Tareas: Reparación y mantenimiento de equipos informáticos<br>
          <br>Experiencias Laborales Anteriores<br>
          • Empleado/a administrativo con uso de PC 2000 - 2012<br>
          Nombre de la empresa/Organismo/Institución: Cibercafe <br>
          Tareas: Atención al público, cobro de uso de máquinas y asesoramiento sobre consultas de internet <br>
         <br> Principales Habilidades y Destrezas
          <br>• Resolución de problemas
          • Organización del trabajo
          • Trabajo en equipo
          • Autonomía y proactividad
          </h4>
        </div>
     </div>

   